# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
coverage
bench.json
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# tooling caches
.eslintcache
*.tsbuildinfo

# copied from the repository root by the prepack step
packages/*/LICENSE
